@font-face {
    font-family: 'DS-Digital';
    src: url('/fonts/DS-Digital-BoldItalic.eot');
    src: url('/fonts/DS-Digital-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/DS-Digital-BoldItalic.woff2') format('woff2'),
        url('/fonts/DS-Digital-BoldItalic.woff') format('woff'),
        url('/fonts/DS-Digital-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Linear Beam';
    src: url('/fonts/LinearBeam05.woff2') format('woff2'),
        url('/fonts/LinearBeam05.woff') format('woff'),
        url('/fonts/LinearBeam05.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Chronometre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.compteur{
    display: flex;
    margin: auto;
    text-align: center;
}

h3{
    font-family: 'DS-Digital';
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}

.centiemes{
    display: block; 
    margin: auto;
    width: 60px;
}

p{
    font-family: 'DS-Digital';
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

button{
    width: 120px;
    height: 30px;
    margin: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(0, 132, 255);
    box-shadow: 2px 2px 5px black;
}

button:active{
    color: black;
    background-color: rgb(255, 187, 0);
    box-shadow: inset 2px 2px 5px black;
}

.countTour{
    display: flex;
    flex-direction: column;
}

.tempsDuTour{
    margin-top: 20px;
    margin-right: 20px;
}

.intervalle{
    margin-top: 20px;
    margin-left: 100px;
}

.tableauTemps{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 550px;
}

h2{
    margin-bottom: 50px;
}

.temps{
    margin-top: -20px;
}

.inter{
    margin-top: -20px;
}

.numInter, .numTemps{
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}